# Explore here

In [9]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import text
import sqlite3

In [10]:
df_movies = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv")
df_credits = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv")

In [11]:
conn = sqlite3.connect("knndb.db")

In [12]:
cursor = conn.cursor()

In [13]:
df_movies.to_sql("movies", conn, if_exists="replace", index=False)

4803

In [14]:

cursor.execute(''' DROP TABLE knndb; ''')

In [15]:
df_credits.to_sql("credits", conn,if_exists="replace", index=False)

4803

In [16]:
cursor.execute ("""
CREATE TABLE df_joined AS
SELECT
    t1.*,  
    t2.movie_id, 
    t2.cast, 
    t2.crew,
    t2.title AS credits_title  -- Renombramos para evitar conflicto
FROM
    movies AS t1
INNER JOIN
    credits AS t2 ON t1.title = t2.title;
""")